@use "./variables" as *;

html {
    font-size: 125%;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: $darkGrey;
}

a {
    text-decoration: none;
}

img {
   height: auto;
   max-width: 100%;
   display: block; 
}

h1,
h2,
nav,
p {
    font-size: $medium;
}

ul {
    list-style: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}




