// importing scss files to use
@use "./variables" as *;
@use "./mixins" as *;

html,
body {
    @include fontStyle(125%, $medium, $darkGrey);
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
   @include imgSize();
}

button,
h1,
h2,
nav,
p {
    margin: 0;
    @include fontStyle(1rem)
}

ul {
    list-style: none;
}

.wrapper {
    @include wrapperStyle();
}




