// importing scss files to use
@use "./variables" as *;
@use "./mixins" as *;

html,
body {
    @include fontStyle(125%, $medium, $darkGrey);
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $darkGrey
}

img {
   @include imgSize();
}


h1,
h2,
h3,
nav,
p,
ul {
    margin: 0;
    padding: 0;
    @include fontStyle(1rem)
}

ul {
    list-style: none;
}

.wrapper {
    @include wrapperStyle();
}




