// importing scss files to use
@use "./variables" as *;
@use "./mixins" as *;

header {
    .navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;

        img {
            object-fit: contain;
        }
        // TO DO
        // 1. Add hover animation
        // use this: https: //www.30secondsofcode.org/css/s/hover-underline-animation/
        nav {
            width: 25%;

            ul {
                display: flex;
                justify-content: space-between;

                a {
                    color: $darkGrey;
                    text-transform: uppercase;
                }
            }
        }
    }

    .headerContainer {
        height: 100vh;

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding-right: 50%;

            h1 {
                @include fontStyle(3rem);
                padding-bottom: 1rem;
            }

            p {
                @include fontStyle(1rem, $regular, $darkGrey);
            }
        }

    }

    .indexContainer {
        background-image: url(../assets/home.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contactContainer {
        background-image: url(../assets/contact-us.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 40vh;
    }
}