html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  font-size: 125%;
  font-weight: 500;
  color: #333;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
nav,
p,
ul {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

ul {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

header .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}
header .navBar img {
  -o-object-fit: contain;
     object-fit: contain;
}
header .navBar nav {
  width: 25%;
}
header .navBar nav ul {
  display: flex;
  justify-content: space-between;
}
header .navBar nav ul a {
  color: #333;
  text-transform: uppercase;
}
header .headerContainer {
  background-image: url(../../../assets/home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
header .headerContainer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-right: 50%;
}
header .headerContainer .wrapper h1 {
  font-size: 3rem;
  font-weight: 500;
  color: #333;
  padding-bottom: 1rem;
}
header .headerContainer .wrapper p {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.catalogueContainer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.catalogueContainer .imgContainer {
  width: 33%;
  margin: 1rem;
}
.catalogueContainer .imgContainer a {
  position: relative;
  bottom: 2.5rem;
  background-color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  padding: 0.5rem 1rem;
}
.catalogueContainer .imgContainer1,
.catalogueContainer .imgContainer3 {
  margin-top: 3rem;
}

.featuredSales {
  width: 90%;
  margin: 0 auto;
}
.featuredSales h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #333;
}
.featuredSales .viewAll {
  text-align: center;
}
.featuredSales .viewAll button {
  border: 2px solid #666;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  padding: 1rem 2rem;
}
.featuredSales .featuredContainer {
  padding: 2rem 0;
}
.featuredSales .featuredContainer .mainContainer {
  display: flex;
  flex-wrap: wrap;
}
.featuredSales .featuredContainer .mainContainer .mainContainerItems {
  border: 1px solid #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: calc(20% - 2rem);
  text-align: left;
  padding: 0.5rem;
}
.featuredSales .featuredContainer .mainContainer .mainContainerItems .individualItem {
  display: flex;
  flex-direction: column;
}
.featuredSales .featuredContainer .mainContainer .mainContainerItems .individualItem .hidden {
  visibility: hidden;
}
.featuredSales .featuredContainer .mainContainer .mainContainerItems .individualItem .sale,
.featuredSales .featuredContainer .mainContainer .mainContainerItems .individualItem .new {
  color: #fff;
  width: 25%;
  text-align: center;
  position: relative;
  left: -0.5rem;
}
.featuredSales .featuredContainer .mainContainer .mainContainerItems .individualItem .sale {
  background-color: #eba0aa;
}
.featuredSales .featuredContainer .mainContainer .mainContainerItems .individualItem .new {
  background-color: #88cce2;
}
.featuredSales .featuredContainer .mainContainer .mainContainerItems .individualItem span {
  text-decoration-line: line-through;
}
.featuredSales .featuredContainer .mainContainer .mainContainerItems .itemTextContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featuredSales .featuredContainer .mainContainer .mainContainerItems .itemTextContainer .iconContainer {
  border: 1px solid #666;
  padding: 0.1rem;
}
.featuredSales .featuredContainer .mainContainer .mainContainerItems .itemTextContainer .textContainer {
  line-height: 1.2rem;
}
.featuredSales .featuredContainer .mainContainer .mainContainerItems .itemTextContainer .textContainer .price {
  font-size: 0.75rem;
  font-weight: 400;
  color: #666;
}

.majorSales .wrapper {
  display: flex;
  align-items: center;
  padding: 5rem 0;
  margin-top: 2rem;
}
.majorSales .wrapper .saleContainer1,
.majorSales .wrapper .saleContainer2 {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.majorSales .wrapper .saleContainer1 {
  width: 33%;
  background-image: url(../../../assets/vert1.jpg);
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
.majorSales .wrapper .saleContainer1 .textContainer {
  padding-bottom: 3rem;
  width: 75%;
}
.majorSales .wrapper .saleContainer1 .textContainer .saleText {
  font-size: 1rem;
  font-weight: 500;
  color: #d7b89c;
  background-color: #fff;
  margin: 0 3rem;
}
.majorSales .wrapper .saleContainer1 .textContainer .saleAmount {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  padding: 1.6rem 0;
}
.majorSales .wrapper .saleContainer1 .textContainer a {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
.majorSales .wrapper .saleContainer1 .textContainer a i {
  padding: 0.3rem;
}
.majorSales .wrapper .saleContainer2 {
  width: 66%;
  background-image: url(../../../assets/vert2.jpg);
}
.majorSales .wrapper .saleContainer2 .textContainer {
  border: 1px solid #fff;
  width: 70%;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 1rem;
  text-align: center;
}
.majorSales .wrapper .saleContainer2 .textContainer p {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}
.majorSales .wrapper .saleContainer2 .textContainer span {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}

.followInstagram .wrapper {
  text-align: center;
  margin-bottom: 5rem;
}
.followInstagram .wrapper h2 {
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: #333;
}
.followInstagram .wrapper a {
  font-size: 1rem;
  font-weight: 400;
  color: #666;
}
.followInstagram .wrapper .gallery {
  display: flex;
  margin: 3rem 0;
}
.followInstagram .wrapper .gallery li {
  margin-right: 1rem;
}
.followInstagram .wrapper .gallery li:last-child {
  margin-right: 0;
}

footer {
  background-color: #333;
}
footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
  border: 1px solid white;
}
footer .wrapper h3,
footer .wrapper p,
footer .wrapper a {
  color: #fff;
}
footer .wrapper .logoIcons {
  border: 1px solid white;
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .wrapper .logoIcons .logo {
  width: 50%;
}
footer .wrapper .logoIcons p {
  padding: 1.5rem 0;
}
footer .wrapper .logoIcons ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
footer .wrapper .logoIcons ul li {
  width: 1rem;
}
footer .wrapper .logoIcons li:first-child {
  width: 0.7rem;
}
footer .wrapper .contact {
  width: 25%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
footer .wrapper .contact h3 {
  margin-bottom: 1rem;
}
footer .wrapper .contact ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .wrapper .contact ul li {
  margin-bottom: 1rem;
}
footer .wrapper .contact ul li:last-child {
  margin-bottom: 0;
}
footer .wrapper .contact ul li img {
  width: 1rem;
  display: inline-block;
  margin-right: 0.25rem;
}
footer .wrapper .userProfile {
  width: 25%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
footer .wrapper .userProfile h3 {
  margin-bottom: 1rem;
}
footer .wrapper .userProfile ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .wrapper .userProfile ul li {
  margin-bottom: 1rem;
}
footer .wrapper .userProfile ul li:last-child {
  margin-bottom: 0;
}
footer .wrapper .userProfile ul li img {
  width: 1rem;
  display: inline-block;
  margin-right: 0.25rem;
}